<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
<link href="/koa_react/app.d309ffa8.css" rel="stylesheet"></head>
<body>
  <div id="app">123131</div>
<script type="text/javascript" src="/libs/libs.cd3e689.js"></script><script type="text/javascript" src="/koa_react/js/vendor.d309ffa8.js"></script><script type="text/javascript" src="/koa_react/js/app.d309ffa8.js"></script></body>
</html>